@import url('colors.css');
@import url('reset.css');
@import url('buttons.css');
@import url('typography.css');

@import url('sections/nav.css');
@import url('sections/header.css');
@import url('sections/about.css');
@import url('sections/education.css');
@import url('sections/skills.css');
@import url('sections/works.css');
@import url('sections/contacts.css');

body{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	color: var(--white);
	margin: 0;
	background-color: var(--black);
}

.container{
	margin: auto;
}

@media screen and (min-width: 1441px){
	.container {
		max-width: 1440px;
	}
	
	.menu_drop{
		width: 1440px;
	}
}

@media screen and (max-width: 1440px){
	.container {
		max-width: 1200px;
	}

	.menu_drop{
		width: 1200px;
	}
}

@media screen and (max-width: 1280px){
	.container {
		max-width: 1024px;
	}

	.menu_drop{
		width: 1024px;
	}

	.courses{
		flex-wrap: wrap;
	}

	.course_item{
		width: 49%;
	}
}

@media screen and (max-width: 1024px){
	.container {
		max-width: 90%;
	}

	.menu_drop{
		width: 90%;
	}

	.about_inner{
		flex-wrap: wrap-reverse;
	}

	.about_slider{
		width: 50%;
		margin: 0 auto;
	}

	.about_txt{
		padding: 0;
		width: 100%;
	}

	.about_txt_content{
		margin-bottom: 2rem;
	}

	.contacts_content{
		flex-wrap: wrap;
	}

	.contacts_list_child{
		width: 50%;
	}

	.logo_footer{
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 992px){
	.education_content{
		flex-wrap: wrap;
	}

	.education_content_header,
	.education_content_inner{
		width: 100%;
	}
	
	.skills_content{
		flex-wrap: wrap;
	}

	.skills_list{
		width: 75%;
		margin: 1rem auto;
	}

	.skills_img{
		width: 40%;
		margin: 1rem auto;
	} 
}

@media screen and (max-width: 768px){
	h1{
		font-size: 3.5rem;
	}

	h2{
		font-size: 2.5rem;
	}

	.hero{
		padding: 3rem 1rem;
	}

	.about_slider{
		width: 50%;
	}

	.course_number{
		margin: 0.5rem;
	}

	.skills_img{
		width: 50%;
	}
}

@media screen and (max-width: 576px){
	.btn_up{
		bottom: 1.5rem;
		right: 1.5rem;
	}

	h1{
		font-size: 2.5rem;
	}

	h2{
		font-size: 2.5rem;
	}

	.about_slider{
		width: 100%;
	}

	.btn_primary{
		margin-top: 1rem;
	}

	.about_txt_inner{
		flex-wrap: wrap;
	}

	.btn_secondary{
		margin-top: 1rem;
	}

	.course_item{
		width: 100%;
	}

	.skills_list{
		width: 100%;
	}
	
	.skills_img{
		width: 100%;
	}

	.work_item{
		flex-wrap: wrap;
		justify-content: start;
	}

	.contacts_inner{
		flex-wrap: wrap;
	}

	.contacts_list_child{
		width: 100%;
	}
}

@media screen and (max-width: 320px){
	h1, h2, h3, h4, p, a{
		letter-spacing: 0;
	}
}