.education{
	background-color: var(--white);
	border-radius: 1rem;
	padding: 4rem 0;
	color: var(--black);
}

.education_text{
	margin-bottom: 1rem;
}

.education_content{
	margin: 1rem 0 ;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.education_content_header{
	width: 50%;
}

.education_content_inner{
	background-color: var(--black);
	color:var(--white);
	padding: 2rem;
	border-radius: 1rem;
	width: 49%;
}

.education_content_inner_child{
	display: flex;
	justify-content: start; 
	align-items: center;
	margin-bottom: 1rem;
}

.education_content_inner_child p{
	margin-left: 0.5rem;
}

.courses{
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.course_item{
	color: var(--white);
	display: inline-block;
	background-color: var(--green);
	border-radius: 1rem;
	margin-top: 1rem;
	width: 24%;
}

.course_item_inner{
	display: flex;
	justify-content: center; 
	align-items: start;
}

.course_number{
	background-color: var(--black);
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin: 1rem;
}

.course_content{
	background-color: var(--black);
	padding: 1.5rem;
	border-radius: 1rem;
	width: 100%;
}

.course_txt{
	margin-bottom: 0.5rem;
}